/* customer toggler */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,41,107, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 41, 107);
  color: rgb(253, 197, 0);
}

.nb {
  max-width: 1172px;
}

/* classic blue color */

.text-main {
  color: #00296b !important;
}

/*
===========
Main section
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
============
Search Section
============
*/
.search-section {
  /* border: 5px solid yellowgreen; */
  margin: 0 auto;
  background: #02122c;
  color: #fff;
  font-weight: bold;
  padding: 3rem 0;
}
.search-section-container {
  /* border: 3px solid blue; */
  /* max-width: 1172px; */
  margin: 0 auto;
}

.search-section h1 {
  /* border: 3px solid red; */
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.search-container {
  /* border: 3px solid blue; */
  width: 80vw;
  margin: 0 auto;
  max-width: 1172px;
}

article {
  margin-top: 1rem;
}

input,
label {
  margin: 0.2rem 0;
}

label {
  /* border: 3px solid red; */
  display: block;
  font: 1rem "Fira Sans", sans-serif;
  font-weight: bold;
}

input {
  /* border: 3px solid blue; */
  width: 100%;
  height: 48px;
}

.calendar-container {
  /* border: 3px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.departure,
.arrival {
  flex: 1 0 calc(50% - 1rem);
}

.search-button {
  margin-top: 1rem;
}

.search-btn i {
  position: absolute;
  color: #fff;
  right: 10%;
}

.search-btnn {
  background: #00a698;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
}

.search-btnn:hover {
  background: #006a61;
}

@media screen and (min-width: 789px) {
  article {
    margin-top: 0rem;
  }
  .search-section h1 {
    font-size: 3rem;
  }
  .search-section {
    padding: 12rem 0;
    /* background: url(./images/summer/1.jpeg) center/cover no-repeat; */
  }
  .search-container {
    padding: 3rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  .destination-calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .destination-container,
  .calendar-container {
    flex: 1 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 1096px) {
  .search-section h1 {
    font-size: 3.8rem;
  }
  .search-section {
    padding: 15rem 0;
    /* background: url(./images/summer/1.jpeg) center/cover no-repeat; */
  }
  .search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .destination-calendar-container {
    flex: 1 0 calc(78% - 1rem);
  }
  .search-button {
    flex: 1 0 calc(22% - 1rem);
    align-self: flex-end;
  }
}

/*
=============
Google Map Styling
=============
*/

#map {
  /* border: 3px solid red; */
  height: 500px;
  width: 25vw;
  margin: 0 auto;
}

.hide {
  display: none;
}

/*
===========
Recommendation
===========
*/

.recommendations {
  font-family: "Libre Baskerville", serif;
}

/* background color of recommendation section*/
.rowStyle {
  background-color: #d7dadd;
}

.columnStyle {
  background-color: #d7dadd;
}

.recommendations-container {
  background-color: #d7dadd;
  max-width: 1172px;
}

/* recommendation title */
.recommendationTitle h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 30px 0px;
}

/* destination cards start here */
.cardContent {
  margin-left: 12px;
  margin-right: 12px;
}

.cardText {
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(42, 40, 40)
  );
  border-radius: 0 0 0 15px;
}

.cardText h4 {
  color: white;
}

.cardText h5 {
  color: #fdc500;
}

.cardImg {
  border-radius: 15px;
}

/*
=============
result-page
=============
*/

#result-page {
  max-width: 1172px;
  margin: 0 auto;
  /* border: 3px solid red; */
}

/* Weather Section */

.weather-container {
  max-width: 1172px;
}

/* Attractions section */

.attractions {
  max-width: 1172px;
  margin: 0 auto;
}

.activityHeader {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 30px 0px 20px 0px;
  margin: 0;
}
