

/* customer toggler */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,41,107, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(0,41,107);
    color: rgb(253,197,0);
  } 

/* classic blue color for Navigation*/

.text-main {
    color: #00296B !important;
}

/* recommendation cards start here*/

/* recommendation section */
.recommendations {
  font-family: 'Libre Baskerville', serif;
}

/* background color of recommendation section*/
.rowStyle {
  background-color: #d7dadd;
}

.columnStyle {
  background-color: #d7dadd;
}

.recommendations-container  {
  background-color: #d7dadd;
}

/* recommendation title */
.recommendationTitle h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 20px 0px;
}

/* destination cards start here */
.cardContent {
  margin-left: 12px;
  margin-right: 12px;
}

.cardText {
  width: 100%;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(42, 40, 40));
  border-radius: 0 0 0 15px;
}

.cardText h4 {
  color: white;
} 

.cardText h5 {
  color: #FDC500;
}

.cardImg {
  border-radius: 15px;
}
