/* 
==========
Google Font
==========
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* customer toggler */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,41,107, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 41, 107);
  color: rgb(253, 197, 0);
}

.nb {
  max-width: 1172px;
}

/* classic blue color */

.text-main {
  color: #00296b !important;
}

/*
===========
Main section
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Noto Sans JP", sans-serif;
}

/* 
============
Search Section
============
*/
.search-section {
  /* border: 5px solid yellowgreen; */
  margin: 0 auto;
  background: #02122c;
  color: #fff;
  font-weight: bold;
  padding: 3rem 0;
}
.search-section-container {
  /* border: 3px solid blue; */
  /* max-width: 1172px; */
  margin: 0 auto;
}

.search-section h1 {
  /* border: 3px solid red; */
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.search-container {
  /* border: 3px solid blue; */
  width: 80vw;
  margin: 0 auto;
  max-width: 1172px;
}

article {
  margin-top: 1rem;
}

input,
label {
  margin: 0.2rem 0;
}

label {
  /* border: 3px solid red; */
  display: block;
  font: 1rem "Fira Sans", sans-serif;
  font-weight: bold;
}

input {
  width: 100%;
  height: 48px;
  /* border: 2px solid #f0f0f0; */
}

.controls:focus {
  border: 5px solid rgb(47, 255, 116);
}

.warning {
  border: 5px solid red;
}

.calendar-container {
  /* border: 3px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.departure,
.arrival {
  flex: 1 0 calc(50% - 1rem);
}

.search-button {
  margin-top: 1rem;
}

.search-btn i {
  position: absolute;
  color: #fff;
  right: 10%;
}

.search-btnn {
  background: #00a698;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
}

.search-btnn:hover {
  background: #006a61;
}

@media screen and (min-width: 789px) {
  article {
    margin-top: 0rem;
  }
  .search-section h1 {
    font-size: 3rem;
  }
  .search-section {
    padding: 12rem 0;
    /* background: url(./images/summer/1.jpeg) center/cover no-repeat; */
  }
  .search-container {
    padding: 3rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  .destination-calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .destination-container,
  .calendar-container {
    flex: 1 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 1096px) {
  .search-section h1 {
    font-size: 3.8rem;
  }
  .search-section {
    padding: 15rem 0;
    /* background: url(./images/summer/1.jpeg) center/cover no-repeat; */
  }
  .search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .destination-calendar-container {
    flex: 1 0 calc(78% - 1rem);
  }
  .search-button {
    flex: 1 0 calc(22% - 1rem);
    align-self: flex-end;
  }
}

/*
=============
Google Map Styling
=============
*/

/*
===========
Recommendation
===========
*/

/* background color of recommendation section*/
.rowStyle {
  background-color: #d7dadd;
}

.columnStyle {
  background-color: #d7dadd;
}

.recommendations-container {
  background-color: #d7dadd;
  max-width: 1172px;
}

/* recommendation title */
.recommendationTitle h3 {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 30px 0px;
}

/* destination cards start here */
.cardContent {
  margin-left: 12px;
  margin-right: 12px;
}

.cardText {
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(42, 40, 40)
  );
  border-radius: 0 0 0 15px;
}

.cardText h4 {
  color: white;
}

.cardText h5 {
  color: #fdc500;
}

.cardImg {
  border-radius: 15px;
}

/*
=============
result-page
=============
*/

#result-page {
  max-width: 1172px;
  margin: 0 auto;
  /* border: 3px solid red; */
}

/* Weather Section */

.weather-container {
  max-width: 1172px;
  margin: 20px 0px;
}

/* Attractions section */

.attractions,
.food,
.hotels {
  max-width: 1172px;
  margin: 0px auto;
  min-height: 125px;
  padding: 0px 10px;
  overflow: auto;
}

#attractionsBtn,
#foodBtn,
#hotelBtn {
  width: 1172px;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(122, 151, 26, 0);
}

.btnarea {
  background-image: url("../images/cityinfo/zip.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 5px;
}

.foodArea {
  background-image: url("../images/cityinfo/food1.jpg");
  background-position: bottom;
  background-size: cover;
  margin-bottom: 5px;
}

.hotelArea {
  background-image: url("../images/cityinfo/pool.jpg");
  background-position: bottom;
  background-size: cover;
  margin-bottom: 5px;
}

.attractionsRow,
.foodRow,
.hotelRow {
  margin: 0px 0px 5px 0px;
}

.attrCol,
.foodCol,
.hotelCol {
  padding: 0;
}

.attractionsCard,
.foodCard,
.hotelCard {
  background: #102a42;
}

.attractionsCard h5,
.foodCard h5,
.hotelCard h5 {
  color: rgb(255, 255, 255);
}

.infoScroll {
  max-height: 175px;
  height: fit-content;
  margin-bottom: 0 !important;
}

.infoScroll p {
  font-size: 17px;
  font-weight: bold;
}

.scrollbar {
  float: left;
  background: #f0f0f0;
  overflow-y: scroll;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
  border-radius: 5px;
}

#style-4::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
  border-radius: 5px;
  margin: 20px 0px;
}

/* 
==============
Destination title
==============
*/

.destination-title {
  margin: 1rem;
  font-family: var(--font-family);
}

/* 
===========
mediawiki
===========
*/

.wiki-gmap-container {
  margin: 1rem;
}

.mediawiki {
  /* border: 3px solid red; */
  background: #f2f2f2;
  height: 38vh;
  overflow-y: scroll;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.mediawiki-destination {
  font-family: var(--font-family);
  font-size: 1.3rem;
}

.bold {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .mediawiki-destination {
    font-size: 1.5rem;
  }
}

/*
=============
Google Map Styling
=============
*/

.google-map {
  /* border: 3px solid blue; */
  margin-bottom: 1.5rem;
}

#map {
  /* border: 3px solid red; */
  height: 38vh;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .wiki-gmap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mediawiki {
    flex: 1 0 calc(50% - 1rem);
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .google-map {
    flex: 1 0 calc(50% - 1rem);
    margin-bottom: 0;
  }
}

/*
===============
COVID MAP
===============
*/

.covid {
  margin: 1rem 0;
}

.covid-map-container {
  margin: 0.5rem;
  background: #f1f2f8;
}

.covid-map-img {
  display: block;
  width: 100%;
  margin: 1rem auto;
}

.covid-map-text h1 {
  margin: 1rem auto;
}

.covid-anchor {
  text-decoration: none;
}

.covid-btn {
  border: none;
  display: block;
  margin: 1rem auto;
  background: green;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.covid-btn:hover {
  opacity: 0.7;
}

@media screen and (min-width: 789px) {
  .covid-map-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1172px;
    margin: 0 auto;
    padding: 3rem 0;
  }
  .covid-map-image {
    flex: 1 0 calc(50% - 1rem);
  }
  .covid-map-text {
    flex: 1 0 calc(50% - 1rem);
  }
  .covid-map-text h1 {
    margin: 2rem 0;
    font-size: 3rem;
    margin-left: 1rem;
  }
  .covid-map-text h4 {
    font-size: 1.5rem;
    margin: 2rem 0;
    margin-left: 1rem;
  }
  .covid-btn {
    margin-left: 1rem;
    width: 90%;
  }
}

/* 
===========
Loading Page
===========
*/
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud1,
.cloud2,
.cloud3 {
  height: 6rem;
  position: absolute;
  right: 0%;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}

.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 3s ease infinite 2s;
}

.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease infinite 1s;
}

.plane {
  width: 13rem;
  animation: plane 1s ease infinite alternate;
}

.preload h3 {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;
}

@keyframes plane {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(3rem);
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}

.hide {
  display: none;
}

/*
=============== 
Footer
===============
*/

.footer {
  /* border: 3px solid white; */
  background: #102a42;
  color: #fff;
  text-align: center;
  padding: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.footer-links,
.footer-icons {
  /* border: 3px solid white; */
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  list-style: none;
}

.footer-link {
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
  letter-spacing: 0.25rem;
  transition: all 0.3s linear;
  text-decoration: none;
}

.footer-link:hover {
  color: aqua;
}

.footer-icon {
  color: #fff;
  font-size: 2rem;
  margin-right: 2rem;
  transition: all 0.3s linear;
}

.footer-icon:hover {
  color: aqua;
}

.copyright {
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  color: #fff;
}

.copyright-company {
  color: aqua;
}

/* 
=============
Unsplash API
=============
*/

.unsplash-container {
  margin: 1rem;
}

.grid {
  width: 100%;
}

.imgg {
  height: 21rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 789px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    /* align-items: flex-start; */
  }
  .imgg {
    flex: 1 0 calc(48% - 1rem);
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
}

@media screen and (min-width: 1072px) {
  .imgg {
    flex: 1 0 calc(33% - 1rem);
  }
}
